.block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.red {
  background-color: #eb3d00;
}
.orange {
  background-color: #ff7f00;
}
.blue {
  background-color: #0185dd;
}
.yellow {
  background-color: #fcfb01;
  color: #333;
}
.magenta {
  background-color: #ff007f;
}
.green {
  background-color: #00904c;
}
.pink {
  background-color: #ffc0cb;
}
.grey {
  background-color: #beaed3;
}
.wrapper {
  display: grid;
  gap: 32px;
  padding: 16px;
  background-color: #e5ddd2;
  height: calc(44vw);

  /* Два рядки Три стовпці */
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

/* ======== */
.task-1 {
  display: grid;
  /* Три стовпці: середній, ширший, середній */
  grid-template-columns: 2.65fr 4.9fr 2.45fr; /* = 10 */
  /* Три рядки: вузький, ширший, вузький */
  grid-template-rows: 1fr 5fr 1fr;
}

/* 1-й рядок */
.task-1 .red {
  grid-column: 1;
}
.task-1 .orange {
  grid-column: 2 / 4; /* стовпці 2-3 */
}

/* 2-й рядок */
.task-1 .blue {
  /* не вказуємо grid-column бо буде yellow */
}
.task-1 .yellow-wrapper {
  grid-column: 2 / 4; /* стовпці 2-3 у батьківському wrapper*/
  padding: 8px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(
    5,
    1fr
  ); /* кожен рядок 1/5 від загального height батьківського wrapper*/
  align-items: stretch; /* кожен рядок розтягнен на 100% від комірки grid */
  justify-items: stretch;
}
.task-1 .yellow-wrapper .yellow-title {
  grid-column: 2;
  grid-row: 3;
}
.task-1 .yellow-wrapper .magenta {
  grid-column: 1/3;
  grid-row: 1;
}

/* 3-й рядок */
.task-1 .green {
  grid-column: 1 / 3; /* стовпці 1-2 */
}
.task-1 .pink {
  /* 3-й стовпець */
  /* не вказуємо grid-column бо був green */
}

/* ======== */
.task-2 {
  display: grid;
  grid-template-columns: 2.65fr 3.9fr 3.45fr;
  grid-template-rows: 1fr 5fr 1fr;
}
.task-2 .red {
  grid-column: 1/3;
}
.task-2 .yellow-wrapper {
  grid-column: 2 / 4;
  padding: 8px;
  display: grid;
  grid-template-columns: 3.9fr 3.45fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: stretch;
  justify-items: center; /* stretch + z-index fail => solved width 100% */
  gap: 10px 0px;
}
.task-2 .yellow-wrapper .magenta,
.task-2 .yellow-wrapper .grey,
.task-2 .yellow-wrapper .orange {
  position: relative;
  grid-column: 2/3;
  width: 100%;
}
.task-2 .yellow-wrapper .magenta {
  z-index: 2;
  grid-row: 1;
}
.task-2 .yellow-wrapper .grey {
  z-index: 3;
  grid-row: 2;
  margin-top: -20px;
  margin-left: -40px;
  height: 100%;
}
.task-2 .yellow-wrapper .orange {
  z-index: 4;
  grid-row: 2;
}
.task-2 .yellow-wrapper .yellow-title {
  grid-column: 1/3;
  grid-row: 3;
}
.task-2 .green {
  grid-column: 1 / 4;
}

/* ======== */
.task-3 {
  display: grid;
  grid-template-columns: 2.65fr 7.25fr;
  grid-template-rows: 1fr 5fr 1fr;
}
.task-3 .blue-wrapper {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  align-items: stretch;
  justify-items: stretch;
  padding: 8px;
  gap: 8px;
}
.task-3 .blue-wrapper .orange {
  grid-row: 2;
}
.task-3 .blue-wrapper .magenta {
  grid-row: 3;
}
.task-3 .blue-wrapper .grey {
  grid-row: 4;
}
.task-3 .blue-wrapper .blue-title {
  grid-row: 6;
}
.task-3 .green {
  grid-column: 1 / 3;
}
/* ======== */
.task-4 {
  display: grid;
  /* Три стовпці: середній, ширший, середній */
  grid-template-columns: 1fr 2fr 1fr;
  /* Три рядки: вузький, ширший, вузький */
  grid-template-rows: 1fr 5fr 1fr;
}
